<!-- START FOOTER -->
<div class="footer section-padding">
    <div class="container">
        <div class="row fc">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer_copyright">
                    <p>&copy; 2024. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer_menu">
                    <ul>
                        <li><a href="/policies/terms">Terms of use</a></li>
                        <li><a href="/policies/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div>
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->